version: '3.8'

services:
  dashboard:
    build: .
    ports:
      - "8080:8080"
    environment:
      - TZ=America/Sao_Paulo
    env_file:
      - .env
    volumes:
      - ./config.js:/app/config.js
      - ./translations.js:/app/translations.js
      - ./script.js:/app/script.js
      - ./index.html:/app/index.html
      - ./styles.css:/app/styles.css
    restart: unless-stopped
    container_name: dashboard-longping
